.tip-content {
    padding: 25px;
}

@media (min-width: 900px) {
    .tp-splitter-calculator {
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
        height: auto;

        display: flex;
        justify-content: center;
        gap: 2rem;
    }

    .tp-payment {
        width: 40%;
        margin-bottom: 1rem;
    }
}
