<h2 class="tip-header">SPLI<br>TTER</h2>
<section class="tip-content">
  <div class="tp-splitter-calculator tp-card tp-card-white">
    <div class="tp-calculations">
      <div class="tp-bill-section tp-section">
        <label for="tp-bill" class="tp-label">
          Bill
          @if (!validated!.bill.status) {
          <span class="tp-label--validation">
            @for (item of validated!.bill.message; track $index) {
              <span>{{item}}</span>
            }
          </span>
          }
        </label>
        <span class="tp-input-group dollar">
          <input data-testid="bill-input" 
                type="number" 
                name="tp-bill" 
                id="tp-bill"
                [class]="!validated!.bill.status ? 'is-invalid':''" [(ngModel)]="billValue" 
                (ngModelChange)="onChangeBill($event)"
                (input)="validateBill($event)" />
        </span>
      </div>
      <div class="tp-section tp-tip-section">
        <label for="tp-bill" class="tp-label">Select Tip %</label>
        <div class="tp-button-group">
          @for (item of tipPercentages; track item) {
          <button id="btn-{{item}}" class="tp-button tip-button" [class]="tipValue() !== item ? '' : 'active'"
            (click)="onSetTip(item)">{{item}}%</button>
          }
          <span class="tp-input-group">
            <input type="number" name="tp-people" id="tp-people" class="w-icon" placeholder="Custom"
              [(ngModel)]="tipCustomValue" 
              [class]="!validated!.tip ? 'is-invalid':''"
              (ngModelChange)="onChangeCustomTip($event)"/>
              @if (!validated!.tip.status) {
                <span class="tp-label--validation">
                  <span>{{validated!.tip.message}}</span>
                </span>
              }
          </span>
        </div>
      </div>
      <div class="tp-people-section tp-section">
        <label for="tp-people" class="tp-label">
          Number of people
          @if (!validated!.people.status) {
          <span class="tp-label--validation">
            @for (item of validated!.people.message; track $index) {
            <span>{{item}}</span>
            }
          </span>
          }
        </label>
        <span class="tp-input-group people">
          <input data-testid="people-input" type="number" name="tp-people" id="tp-people"
            [class]="!validated!.people.status ? 'is-invalid':''" [(ngModel)]="countPeople"
            (input)="validatePeople($event)" />
        </span>
      </div>
    </div>
    <div class="tp-payment tp-section tp-card tp-card-green">
      <div class="tp-list">
        <div class="tp-list--item-description">
          <strong class="tp-list--item-title">Tip Amount</strong>
          <span class="tp-list--item-detail"> / Person</span>
        </div>
        <div class="tp-list--item-total">
          ${{tipAmount()}}
        </div>
      </div>
      <div class="tp-list">
          <div class="tp-list--item-description">
            <strong class="tp-list--item-title">Total</strong>
            <span class="tp-list--item-detail"> / Person</span>
          </div>
          <div class="tp-list--item-total">
            ${{totalPayment()}}
          </div>
      </div>
      <div class="tp-list-actions">
        <button id="btn-reset" class="tp-button---action-reset" (click)="onReset()">RESET</button>
      </div>
    </div>
  </div>
</section>
